src/nv/dthread_atlasp2
src/nv/dthread_ordering
src/nv/pthread_atlasp2
src/nv/pthread_ordering
src/eval/datasets/parsec-3.0-input-native.tar.gz
src/eval/datasets/parsec-3.0/ext/splash2x/apps/barnes/inputs/input_native.tar
src/eval/datasets/parsec-3.0/ext/splash2x/apps/fmm/inputs/input_native.tar
src/eval/datasets/parsec-3.0/ext/splash2x/apps/raytrace/inputs/input_native.tar
src/eval/datasets/parsec-3.0/ext/splash2x/apps/volrend/inputs/input_native.tar
src/eval/datasets/parsec-3.0/ext/splash2x/apps/water_nsquared/inputs/input_native.tar
src/eval/datasets/parsec-3.0/ext/splash2x/apps/water_spatial/inputs/input_native.tar
src/eval/datasets/parsec-3.0/ext/splash2x/kernels/cholesky/inputs/input_native.tar
src/eval/datasets/parsec-3.0/pkgs/apps/blackscholes/inputs/input_native.tar
src/eval/datasets/parsec-3.0/pkgs/apps/bodytrack/inputs/input_native.tar
src/eval/datasets/parsec-3.0/pkgs/apps/facesim/inputs/input_native.tar
src/eval/datasets
src/eval/tests/ferret/ImageMagick-6.9.1-4
*.o
src/eval/tests/blackscholes/blackscholes-dthread
src/eval/tests/blackscholes/blackscholes-pthread
src/eval/tests/canneal/canneal-dthread
src/eval/tests/canneal/canneal-pthread
src/eval/tests/dedup/dedup-dthread
src/eval/tests/dedup/dedup-pthread
src/eval/tests/ferret/a.out
src/eval/tests/ferret/ferret-dthread
src/eval/tests/ferret/ferret-pthread
src/eval/tests/ferret/ImageMagick-6.9.1-4.x86_64.rpm
src/eval/tests/ferret/ImageMagick.tar.gz
src/eval/tests/ferret/imagemagick_6.9.1-5_amd64.deb
src/eval/tests/ferret/logo.gif
src/eval/tests/histogram/histogram-dthread
src/eval/tests/histogram/histogram-pthread
src/eval/tests/kmeans/kmeans-pthread
src/eval/tests/streamcluster/a.out
src/eval/tests/streamcluster/streamcluster-dthread
src/eval/tests/streamcluster/streamcluster-pthread
src/eval/tests/swaptions/swaptions-dthread
src/eval/tests/swaptions/swaptions-pthread
src/eval/tests/word_count/word_count-pthread
third-parties/GraphEngine1.18/data/graph_D12V20ME120M.alchemy.factors
src/eval/tests/kmeans/kmeans-dthread
src/eval/tests/linear_regression/linear_regression-dthread
src/eval/tests/linear_regression/linear_regression-pthread
src/eval/tests/matrix_multiply/matrix_file_A.txt
src/eval/tests/matrix_multiply/matrix_file_B.txt
src/eval/tests/matrix_multiply/matrix_file_out_pthreads.txt
src/eval/tests/matrix_multiply/matrix_multiply-dthread
src/eval/tests/matrix_multiply/matrix_multiply-pthread
src/eval/tests/pca/pca-dthread
src/eval/tests/pca/pca-pthread
src/eval/tests/reverse_index/reverse_index-dthread
src/eval/tests/reverse_index/reverse_index-pthread
src/eval/tests/string_match/string_match-dthread
src/eval/tests/string_match/string_match-pthread
src/eval/tests/word_count/word_count-dthread
third-parties/dthreads/eval/datasets
third-parties/dthreads/test/eval/datasets
third-parties/dthreads/test/eval/tests/ferret/ImageMagick-6.9.1-4
third-parties/GraphEngine1.18/data
third-parties/dthreads/test/src/include/heaplayers/experimental/.svn
third-parties/dthreads/test/eval/tests/histogram/histogram-dthread
third-parties/dthreads/test/eval/tests/histogram/histogram-pthread
third-parties/dthreads/test/eval/tests/linear_regression/linear_regression-dthread
third-parties/dthreads/test/eval/tests/linear_regression/linear_regression-pthread
third-parties/dthreads/test/eval/tests/matrix_multiply/matrix_multiply-dthread
third-parties/dthreads/test/eval/tests/matrix_multiply/matrix_multiply-pthread
third-parties/dthreads/test/eval/tests/reverse_index/reverse_index-dthread
third-parties/dthreads/test/eval/tests/reverse_index/reverse_index-pthread
third-parties/dthreads/test/eval/tests/streamcluster/streamcluster-dthread
third-parties/dthreads/test/eval/tests/streamcluster/streamcluster-pthread
third-parties/dthreads/test/eval/tests/string_match/string_match-dthread
third-parties/dthreads/test/eval/tests/string_match/string_match-pthread
third-parties/dthreads/test/src/include/heaplayers/util/.svn
third-parties/dthreads/test/src/include/heaplayers/.svn
third-parties/dthreads/src/include/heaplayers/experimental/.svn
third-parties/dthreads/src/include/heaplayers/.svn
third-parties/dthreads/src/include/heaplayers/util/.svn
third-parties/dthreads/eval/tests/blackscholes/optionData.txt
third-parties/dthreads/eval/tests/blackscholes/prices.txt
third-parties/dthreads/test/eval/tests/word_count/word_count-dthread
third-parties/dthreads/test/eval/tests/word_count/word_count-pthread
third-parties/dthreads/test/nv/dthread_atlasp2
third-parties/dthreads/test/nv/dthread_ordering
third-parties/dthreads/test/nv/pthread_atlasp2
third-parties/dthreads/test/nv/pthread_ordering
third-parties/dthreads/eval/tests/histogram/histogram-dthread
third-parties/dthreads/eval/tests/histogram/histogram-pthread
third-parties/dthreads/eval/tests/linear_regression/linear_regression-dthread
third-parties/dthreads/eval/tests/linear_regression/linear_regression-pthread
third-parties/dthreads/eval/tests/matrix_multiply/matrix_multiply-dthread
third-parties/dthreads/eval/tests/matrix_multiply/matrix_multiply-pthread
third-parties/dthreads/eval/tests/reverse_index/reverse_index-dthread
third-parties/dthreads/eval/tests/reverse_index/reverse_index-pthread
third-parties/dthreads/eval/tests/string_match/string_match-dthread
third-parties/dthreads/eval/tests/string_match/string_match-pthread
third-parties/dthreads/eval/tests/kmeans/kmeans-dthread
third-parties/dthreads/eval/tests/kmeans/kmeans-pthread
third-parties/dthreads/test/eval/tests/dedup/dedup-dthread
third-parties/dthreads/test/eval/tests/dedup/dedup-pthread
third-parties/dthreads/test/eval/tests/canneal/canneal-dthread
third-parties/dthreads/test/eval/tests/canneal/canneal-pthread
third-parties/dthreads/test/eval/tests/blackscholes/blackscholes-dthread
third-parties/dthreads/test/eval/tests/blackscholes/blackscholes-pthread
third-parties/dthreads/test/eval/tests/ferret/ferret-dthread
third-parties/dthreads/test/eval/tests/ferret/ferret-pthread
third-parties/dthreads/test/eval/tests/swaptions/swaptions-dthread
third-parties/dthreads/test/eval/tests/swaptions/swaptions-pthread
